

<% if @weapons.count > 0%>
    <h2>All Your Weapons:</h2>

    <% @weapons.each do |weapon|%>
    <%= link_to weapon.name, weapon_path(weapon) %> deals <%= weapon.damage %><br>
    <% end %>
<% else %>
    <h1>You Don't Have Any Weapons Yet!</h1>
    <%= link_to "Create One Now?", new_weapon_path %>
<% end %>